In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('couples.unique.csv')
df = df.set_index('Couple')
df = df[~pd.isnull(df['spvl'])]
og_df = df.copy()

In [3]:
df['ever.seroconverted'] = (df['partner.firstPosDate'] != np.inf)
df['ever.seroconverted'].sum()

229

In [6]:
# do this later with inferred seroconversion date?
df['partner.first.pos.after.art'] = df['ever.seroconverted'] & (df['partner.firstPosDate'] > df['index.first.art.date'])
df['partner.first.pos.after.art'].sum()

17

In [9]:
# doesn't include people who never converted
df['partner.last.neg.before.art'] = df['partner.lastNegDate'] < df['index.first.art.date']

(df['partner.first.pos.after.art'] & df['partner.last.neg.before.art']).sum()

16

In [12]:
df[(df['partner.first.pos.after.art'] & ~df['partner.last.neg.before.art'])]

,male.firstPosDate,male.lastNegDate,female.firstPosDate,female.lastNegDate,male.index,female.index,female.firstObsDate,male.firstObsDate,female.lastObsDate,male.lastObsDate,...,sex,index.midpoint.cat,circum,assay,n.vl.ur,spvl.ur,ever.seroconverted,seroconverted.after.art,partner.first.pos.after.art,partner.last.neg.before.art
Couple,,,,,,,,,,,,,,,,,,,,,
3124,2011.4,2009.7,2006.4,NaN,False,True,2009.7,2009.7,2011.4,2011.4,...,F,unknown,0.0,Roche 1.5,1,5.509463,True,True,True,False

In [13]:
df['index.inferred.spvl.start.date'] = df['index.firstPosDate'] + 0.5

In [14]:
df['partner.inferred.seroconversion.date'] = np.where(
    df['ever.seroconverted'],
    (df['partner.firstPosDate'] + df['partner.lastNegDate'])/2,
    np.inf
)

In [15]:
df['infectious.contact.period.considered.end'] = np.where(
    df['ever.seroconverted'],
    df[['index.first.art.date', 'partner.inferred.seroconversion.date']].min(axis=1)
    df[['index.first.art.date', 'partner.lastNegDate']].min(axis=1),
)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (520603232.py, line 3)